/* PAGE LAYOUT */
/**/
/**/
/**/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #3a405a;
    margin:0;
}
h1, h2, h3, h4, h5, h6, p{
	color: #ffffff;
}
h2#mid{
	position: relative;
	top:25%;
}

footer{
	bottom:0;
	background:#FFFFFF;
	display: block;
	position: absolute;
	text-align:center;
	left:0;
	right:0;
	text-shadow: 1px 2px #000000;
	outline: 1px 1px #000000;
}

/*INDIVIDUAL ELEMENT STYLING*/
/**/
/**/
/**/
.lander{
	height: 100%;
	width: 100%;
	position: fixed;
}
.frost-pad{
	display: block;
	position: absolute;
	margin: 0 auto;
	text-align: center;
	height:60%;
	top:20%;
	left:50px;
	right:50px;
}
.phrase1 h1{
	opacity: 0;
	font-size: 3em;
}
.phrase2 h2{
	opacity: 0;
	font-size: 1em;
}
.phrase3 h2{
	opacity: 0;
	font-size: 1em;
}
#moon_container{
	-webkit-animation: diagonal-review 7s forwards;
  	animation: diagonal-reveal 7s forwards;
	display: block;
	position: relative;
	z-index: 1;
	left: 80%;
    bottom: 0%;
	height:191px;
	width: 212px;
}
.tree_container{
	bottom:0%;
	left: 0px;
	position: absolute;
	height: 800px;
	width: 700px;
	overflow:hidden;
}
.treeload{
	position: absolute;
	display: block;
	bottom: -10%;
	left: -15%;
	height: 100%;
	width: 100%;
	background-image: url("../src/tree.png");
	background-repeat: no-repeat;
}
.snowpile1{
	top: 80%;
	border-top-right-radius: 100px;
	background: #FFFFFF;
	position: relative;
	height: 200px;
	width:550px;
	max-width:100%;
}
.snowpile2{
	top: 60%;
	left: 60%;
	position:relative;
	background: #FFFFFF;
	border-radius: 100%;
	height: 150px;
	width: 200px;
}.snowpile3{
	bottom: -32%;
	left: 21%;
	position: relative;
	background: #FFFFFF;
	border-radius: 100%;
	height: 200px;
	width: 200px;
}
.snowpile4{
	top: 6.5%;
	left: -30px;
	position: relative;
	background: #FFFFFF;
	border-radius: 100%;
	color: #FFFFFF;
	height: 110px;
	width: 200px;
}
.snowpile5{
	top: -6%;
	left: 42%;
	position: relative;
	background: #FFFFFF;
	border-radius: 100%;
	color: #FFFFFF;
	height: 120px;
	width: 160px;
}

.frostie-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
    position: relative;
    top: 25%;
}
.frost-icon {
    color: #fff;
}
ul.frost-icons{
	top:45%;
	padding:0;
    margin-top: 10px;
}
.frost-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
    -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
.frost-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github{
	padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-github:hover{
	background-color: #0073a4;
}
.fa-envelope{
	padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-envelope:hover{
	background-color: #0073a4;
}
/* CSS ANIMATIONS */
#snow{
	background: none;
	background-image: url("../src/faintsnow.png"), url("../src/smallsnow.png"), url("../src/sidesnow.png");
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
	-webkit-animation: snow 25s linear infinite;
	-moz-animation: snow 25s linear infinite;
	-ms-animation: snow 25s linear infinite;
	animation: snow 25s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  10% {background-position: -50px 50px,  20px 20px, 30px 30px;}
  25% {background-position: 70px 125px, 50px 50px, -35px 75px;}
  35% {background-position: 125px 175px, 75px 70px, 60px 105px;}
  50% {background-position: 250px 250px, -1px 100px, 75px 150px;}
  75% {background-position: 400px 375px, 100px 150px, -15px 225px}
  100% {background-position: 500px 500px, 200px 200px, 300px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  10% {background-position: -50px 50px,  20px 20px, 30px 30px;}
  25% {background-position: 70px 125px, 50px 50px, -35px 75px;}
  35% {background-position: 125px 175px, 75px 70px, 60px 105px;}
  50% {background-position: 250px 250px, -1px 100px, 75px 150px;}
  75% {background-position: 400px 375px, 100px 150px, -15px 225px}
  100% {background-position: 500px 500px, 200px 200px, 300px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  10% {background-position: -50px 50px,  20px 20px, 30px 30px;}
  25% {background-position: 70px 125px, 50px 50px, -35px 75px;}
  35% {background-position: 125px 175px, 75px 70px, 60px 105px;}
  50% {background-position: 250px 250px, -1px 100px, 75px 150px;}
  75% {background-position: 400px 375px, 100px 150px, -15px 225px}
  100% {background-position: 500px 500px, 200px 200px, 300px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  10% {background-position: -50px 50px,  20px 20px, 30px 30px;}
  25% {background-position: 70px 125px, 50px 50px, -35px 75px;}
  35% {background-position: 125px 175px, 75px 70px, 60px 105px;}
  50% {background-position: 250px 250px, -1px 100px, 75px 150px;}
  75% {background-position: 400px 375px, 100px 150px, -15px 225px}
  100% {background-position: 500px 500px, 200px 200px, 300px 300px;}
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}
.fade-in.phrase1 {
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
animation-delay: 1s;
}
.fade-in.phrase2 {
-webkit-animation-delay: 1.75s;
-moz-animation-delay: 1.75s;
animation-delay: 1.75s;
}
.fade-in.phrase3 {
-webkit-animation-delay: 2.5s;
-moz-animation-delay: 2.5s;
animation-delay: 2.5s;
}
.fade-in.frost-icons{
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay: 3s;
}

@-webkit-keyframes diagonal-reveal {
  0% {
    bottom: -75%;
    left: 0%;
    transform: translate3d(1,1,1);
  }
  100% {
    left: 80%;
    bottom: 0%;
    transform: translate3d(.5,.5,.5);
  }
}

@keyframes diagonal-reveal {
  0% {
    bottom: -75%;
    left: 0%;
    transform: scale3d(1,1,1);
  }
  100% {
    left: 85%;
    bottom: 1%;
    transform: scale3d(.5,.5,.5);
  }
}
