/* PAGE LAYOUT */
/**/
/**/
/**/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);	
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #3a405a;
    margin:0;
}
h1, h2, h3, h4, h5, h6, p{
	color: #ffffff;
}
h2#mid{
	position: relative;
	top:30%;
}

footer{
	bottom:0;
	background:#FFFFFF;
	display: block;
	position: absolute;
	text-align:center;
	left:0;
	right:0;
	text-shadow: 1px 2px #000000;
	outline: 1px 1px #000000;
}

/*INDIVIDUAL ELEMENT STYLING*/
/**/
/**/
/**/
.lander{
	height: 100%;
	width: 100%;
	position: fixed;
}
.frost-pad{
	display: block;
	position: absolute;
	margin: 0 auto;
	text-align: center;
	height:60%;
	top:15%;
	left:50px;
	right:50px;
}
#moon_container{
	display: block;
	bottom: -80%;
	left: -80%;
	height:191px;
	width: 212px;
	background-image: url("../src/crescent_moon.png");
	
}
.tree_container{
	bottom:0%;
	left: 0px;
	position: absolute;
	height: 800px;
	width: 700px;
	overflow:hidden;
}
.treeload{
	position: absolute;
	display: block;
	bottom: -10%;
	left: -15%;
	height: 100%;
	width: 100%;
	background-image: url("../src/tree.png");
	background-repeat: no-repeat;
}
.snowpile1{
	top: 80%;
	border-top-right-radius: 100px;
	background: #FFFFFF;
	position: relative;
	height: 200px;
	width:550px;
	max-width:100%;
}
.snowpile2{
	top: 60%;
	left: 60%;
	position:relative;
	background: #FFFFFF;
	border-radius: 100%;
	height: 150px;
	width: 200px;
}.snowpile3{
	bottom: -32%;
	left: 21%;
	position: relative;
	background: #FFFFFF;
	border-radius: 100%;
	height: 200px;
	width: 200px;
}
.snowpile4{
	top: 6.5%;
	left: -30px;
	position: relative;
	background: #FFFFFF;
	border-radius: 100%;
	color: #FFFFFF;
	height: 110px;
	width: 200px;
}
.snowpile5{
	top: -6%;
	left: 42%;
	position: relative;
	background: #FFFFFF;
	border-radius: 100%;
	color: #FFFFFF;
	height: 120px;
	width: 160px;
}

.frostie-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
    position: relative;
    top: 25%;
}
.frost-icon {
    color: #fff;
}
ul.frost-icons{
	top:45%;
	padding:0;
    margin-top: 10px;
}
.frost-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
    -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}
.frost-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github{
	padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-github:hover{
	background-color: #0073a4;
}
.fa-envelope{
	padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-envelope:hover{
	background-color: #0073a4;
}
/* CSS ANIMATIONS */
#snow{
	background: none;
	background-image: url("../src/faintsnow.png"), url("../src/smallsnow.png"), url("../src/sidesnow.png");
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 25s linear infinite;
	-moz-animation: snow 25s linear infinite;
	-ms-animation: snow 25s linear infinite;
	animation: snow 25s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  10% {background-position: -50px 50px,  20px 20px, 30px 30px;}
  25% {background-position: 70px 125px, 50px 50px, -35px 75px;}
  35% {background-position: 125px 175px, 75px 70px, 60px 105px;}
  50% {background-position: 250px 250px, -1px 100px, 75px 150px;}
  75% {background-position: 400px 375px, 100px 150px, -15px 225px}
  100% {background-position: 500px 500px, 200px 200px, 300px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  10% {background-position: -50px 50px,  20px 20px, 30px 30px;}
  25% {background-position: 70px 125px, 50px 50px, -35px 75px;}
  35% {background-position: 125px 175px, 75px 70px, 60px 105px;}
  50% {background-position: 250px 250px, -1px 100px, 75px 150px;}
  75% {background-position: 400px 375px, 100px 150px, -15px 225px}
  100% {background-position: 500px 500px, 200px 200px, 300px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  10% {background-position: -50px 50px,  20px 20px, 30px 30px;}
  25% {background-position: 70px 125px, 50px 50px, -35px 75px;}
  35% {background-position: 125px 175px, 75px 70px, 60px 105px;}
  50% {background-position: 250px 250px, -1px 100px, 75px 150px;}
  75% {background-position: 400px 375px, 100px 150px, -15px 225px}
  100% {background-position: 500px 500px, 200px 200px, 300px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  10% {background-position: -50px 50px,  20px 20px, 30px 30px;}
  25% {background-position: 70px 125px, 50px 50px, -35px 75px;}
  35% {background-position: 125px 175px, 75px 70px, 60px 105px;}
  50% {background-position: 250px 250px, -1px 100px, 75px 150px;}
  75% {background-position: 400px 375px, 100px 150px, -15px 225px}
  100% {background-position: 500px 500px, 200px 200px, 300px 300px;}
}



@-webkit-keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInUp {
  -webkit-animation-name: zoomInUp;
  animation-name: zoomInUp;
}	
